<div class="container">
  <h1 class="display-4">Search UI</h1>
</div>

<div class="container-fluid">

  <form class="example-form">
    <mat-form-field class="form-control">
      <input type="text" placeholder="Zoek een product..." aria-label="Zoek een product" matInput
             [formControl]="formControl"
             [matAutocomplete]="auto">
      <fa-icon matSuffix [icon]="faSearch"></fa-icon>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.fields.title"
                    (onSelectionChange)="navigeerNaarProduct(option)">
          <img *ngIf="option.fields.image" id="product-afbeelding" class="search-item-image"
               [src]="option.fields.image"/>
          <div class="search-item-text" [innerHTML]="option.fields.title"></div>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <div class="search-content-container" [innerHTML]="searchContent">

  </div>

</div>
