.form-control {
  width: 100%;
}

.search-item-image {
  display: inline-block;
  width: 60px;
  margin-right: 15px;
  border: 1px solid rgba(0, 0, 0, .1);
}

.search-item-text {
  display: inline-block;
}

.mat-option {
  height: 100px;
}
